<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cethik.irmp.modules.video.dao.ChannelMapper">

    <resultMap id="rm" type="com.cethik.irmp.modules.video.entity.ChannelEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="gbdevice_code" jdbcType="VARCHAR" property="gbdeviceCode"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="online_status" jdbcType="INTEGER" property="onlineStatus"/>
        <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer"/>
        <result column="stream_server_id" jdbcType="INTEGER" property="streamServerId"/>
        <result column="register_way" jdbcType="INTEGER" property="registerWay"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>

        <result column="strm_lan_ip" jdbcType="VARCHAR" property="strmLanIp"/>
        <result column="strm_lan_port" jdbcType="INTEGER" property="strmLanPort"/>
        <result column="strm_wan_ip" jdbcType="VARCHAR" property="strmWanIp"/>
        <result column="strm_wan_port" jdbcType="INTEGER" property="strmWanPort"/>


        <result column="reg_lan_ip" jdbcType="VARCHAR" property="regLanIp"/>
        <result column="reg_lan_port" jdbcType="INTEGER" property="regLanPort"/>
        <result column="reg_wan_ip" jdbcType="VARCHAR" property="regWanIp"/>
        <result column="reg_wan_port" jdbcType="INTEGER" property="regWanPort"/>
        <result column="register_server_id" jdbcType="INTEGER" property="registerServerId"/>

        <result column="location_id" jdbcType="INTEGER" property="locationId"/>
    </resultMap>

    <resultMap id="rmStatistic" type="com.cethik.irmp.modules.base.vo.StatisticVO">
        <!--<result column="num" jdbcType="INTEGER" property="num"/>-->
        <!--<result column="online_status" jdbcType="INTEGER" property="onlineStatus"/>-->
        <!--<result column="statusName" jdbcType="VARCHAR" property="statusName"/>-->
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="getStatisticChannelStatus" resultMap="rmStatistic">
         select online_status as name,count(channel_code) as num  from channel  group by online_status
    </select>

    <select id="getStatisticOnlineNumByGbdevices" resultMap="rmStatistic">
        select gbdevice_code as name,count(channel_code) as num  from channel where online_status=1 group by gbdevice_code
    </select>


    <select id="listForPage" resultType="com.cethik.irmp.modules.video.entity.ChannelEntity">
        SELECT  id, channel_code,gbdevice_code,name,ip,port,online_status,manufacturer,address,stream_server_id,register_way,model,longitude,latitude,register_server_id
        FROM
        channel
        <where>
            <if test="name != null and name.trim() != ''">
                AND name LIKE concat('%',#{name},'%')
            </if>
        </where>
        ORDER BY
        id ASC
 </select>


    <select id="list" resultType="com.cethik.irmp.modules.video.entity.ChannelEntity">
        SELECT  id, channel_code,gbdevice_code,name,ip,port,online_status,manufacturer,address,stream_server_id,register_way,model,longitude,latitude,register_server_id
        FROM
        channel
        <where>
            <if test="name != null and name.trim() != ''">
                AND name LIKE concat('%',#{name},'%')
            </if>
            <if test="onlineStatus != null">
                and online_status = #{onlineStatus}
            </if>
        </where>
        ORDER BY
        id ASC
	</select>

    <select id="getByChannelCode" resultType="com.cethik.irmp.modules.video.entity.ChannelEntity">
        SELECT channel.channel_code, channel.register_way ,reg.lan_ip as reg_lan_ip , reg.lan_port as reg_lan_port, reg.wan_ip as reg_wan_ip , reg.wan_port reg_wan_port,
        strm.lan_ip as strm_lan_ip , strm.lan_port as strm_lan_port, strm.wan_ip as strm_wan_ip, strm.wan_port as strm_wan_port
        FROM
        channel  INNER JOIN servers reg ON channel.register_server_id = reg.id
        INNER JOIN servers strm ON channel.stream_server_id = strm.id
        where  channel.id = #{value};
    </select>


    <insert id="save">
		INSERT INTO channel (
			channel_code,gbdevice_code,name,ip,port,online_status,manufacturer,address,stream_server_id,register_way,model,longitude,latitude,register_server_id
		)
		VALUES (
			#{channelCode},
			#{gbdeviceCode},
			#{name},
			#{ip},
			#{port},
			#{onlineStatus},
			#{manufacturer},
			#{address},
			#{streamServerId},
			#{registerWay},
			#{model},
			#{longitude},
			#{latitude},
			#{registerServerId}
		)
	</insert>

    <select id="getObjectById" resultType="com.cethik.irmp.modules.video.entity.ChannelEntity">

		SELECT
		id,channel_code,gbdevice_code,name,ip,port,online_status,manufacturer,address,stream_server_id,
        register_way,model,longitude,latitude,register_server_id,location_id
		FROM
			channel
		WHERE
			id = #{value}
	</select>

    <update id="update">
        UPDATE channel
        <set>
            <if test="channelCode != null">channel_code = #{channelCode},</if>
            <if test="gbdeviceCode != null">gbdevice_code = #{gbdeviceCode},</if>
            <if test="name != null">name = #{name},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="onlineStatus != null">online_status = #{onlineStatus},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="address != null">address = #{address},</if>
            <if test="streamServerId != null">stream_server_id = #{streamServerId},</if>
            <if test="registerWay != null">register_way = #{registerWay},</if>
            <if test="model != null">model = #{model},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="registerServerId != null">register_server_id = #{registerServerId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
        </set>
        WHERE
        id = #{id}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        channel
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateChannelStatus">
        UPDATE channel
        SET
        online_status = #{onlineStatus}
        WHERE
        id IN
        <foreach item="id" collection="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="listChannelbylocation" resultType="com.cethik.irmp.modules.video.entity.ChannelEntity">
		SELECT
		id,channel_code,name,type
		FROM
			channel
		WHERE
			location_id = #{value}
	</select>

</mapper>