<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('新增-通道管理')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">通道编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="通道编号" v-model="channel.channelCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">设备编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control"  v-model="channel.gbdeviceCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
        	<tr>
	            <td class="formTitle">名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control pointer" placeholder="名称" v-model="channel.name"  isvalid="yes" checkexpession="NotNull" >
	            </td>
        	</tr>
			<tr>
				<td class="formTitle">出口IP<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control " placeholder="出口IP" v-model="channel.ip"  isvalid="yes" checkexpession="NotNull" >
				</td>
			</tr>
			<tr>
				<td class="formTitle">端口<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="端口" v-model="channel.port"  isvalid="yes" checkexpession="NotNull" >
				</td>
			</tr>
			<tr>
				<td class="formTitle">注册服务器<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control pointer" placeholder="选择所属注册服务器" v-model="channel.registerServerName" @click="registerServerTree" isvalid="yes" checkexpession="NotNull" readonly="readonly">
				</td>
			</tr>
			<tr>
				<td class="formTitle">流媒体服务器<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control pointer" placeholder="选择所属流媒体服务器" v-model="channel.streamServerName" @click="streamServerTree" isvalid="yes" checkexpession="NotNull" readonly="readonly">
				</td>
		     </tr>
			<tr>
				<td class="formTitle">注册线路<font face="宋体">*</font></td>
				<td class="formValue">
					<select class="choice"  v-model="channel.registerWay">
						　　<option :value="line.index" v-for="line in lines">{{line.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="formTitle">厂商<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control " placeholder="厂商" v-model="channel.manufacturer"  isvalid="yes" checkexpession="NotNull" >
				</td>
			</tr>
			<tr>
				<td class="formTitle"></td>
				<td class="formValue">
					<a class="btn btn-default"  @click="sellocation"><i
							class="fa fa-address-book"></i>&nbsp;选择坐标</a>
				</td>
			</tr>
			<tr>
				<td class="formTitle">通道经度<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" v-model="channel.longitude" class="form-control" placeholder="通道经度" value=""
						   isvalid="yes" checkexpession="NotNull" >
				</td>
			</tr>
			<tr>
				<td class="formTitle">通道纬度</td>
				<td class="formValue">
					<input type="text" v-model="channel.latitude" class="form-control" placeholder="通道纬度" value=""
						   checkexpession="NotNull">
				</td>
			</tr>
			<tr>
				<td class="formTitle">绑定线路</td>
				<td class="formValue">
					<input type="text" v-model="channel.locationName" class="form-control pointer" placeholder="线路名称"
						   @click="selLine"   readonly="readonly" isvalid="yes">
				</td>
			</tr>
			<tr>
				<td class="formTitle">状态<font face="宋体">*</font></td>
				<td class="formValue">
					<label class="radio-inline">
						<input type="radio" name="status" value="0" v-model="channel.onlineStatus"/> 离线
					</label>
					<label class="radio-inline">
						<input type="radio" name="status" value="1" v-model="channel.onlineStatus"/> 正常
					</label>
				</td>
			</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/video/channel/add.js}"></script>
</body>
</html>