<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频播放</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{../../plugins/video-js-5.20.1/video-js.css}" rel="stylesheet"/>
    <!-- If you'd like to support IE8 -->
    <script th:src="@{../../plugins/video-js-5.20.1/ie8/videojs-ie8.min.js}"></script>
</head>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
    <div class="openFlashTips" style="width:300px;position:absolute;top:20px;left:225px;z-Index:9999;color:white">
        视频无法正常播放，请点击下方启用flash
    </div>
    <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" autoplay="true" fluid="true" width="650" height="500"
           poster="/images/face.jpg" data-setup="{}" notSupportedMessage="此视频暂无法播放，检查视频设备状态是否正常或请查看是否安装flash">
        <!--<source src="rtmp://58.200.131.2:1935/livetv/hunantv" type="rtmp/flv">-->
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
</div>
<div th:include="include/footer_js::footer"></div>

<script th:src="@{../../plugins/video-js-5.20.1/video.js}"></script>

<embed width="300" height="70" class="openFlash" style="position:absolute;top:130px;left:225px;z-Index:9999;"
       type="application/x-shockwave-flash">
<script type="text/javascript" language="JavaScript">

    var vm = new Vue({
        el: '#dpLTE',
        data: {
            channel: {
                id: 0,
                channelCode: null,
                regWanIp: null,
                regWanPort: null
            }
        },
        methods: {
            setForm: function () {
                $.SetForm({
                   // url: '../../video/channel/info?_' + $.now(),
                    url: '../../video/channel/getChannelInfo?_' + $.now(),
                    param: vm.channel.id,
                    success: function (data) {
                        vm.channel = data;
                        startplay();
                    }
                });
            },
            acceptClick: function () {

            },
            mounted: function () {

            }
        }
    })

    /*视频播放*/
    function startplay() {
        var option = {};
        /*option只是一个参数,function onPlayerReady就是播放器初始化完成时会执行的回调函数*/
        var myPlayer = videojs('my-video', option, function onPlayerReady() {
            var elevCode = vm.channel.channelCode;
            var regSvrIp = vm.channel.regWanIp;
            var regSvrPort = vm.channel.regWanPort;
            var streamSvrPort = 1935;
            //  var rtmpurl = "rtmp://47.96.115.217:2131/live/34020000001320000012";
            var rtmpurl = 'rtmp://'+regSvrIp+':'+streamSvrPort+'/live/' + elevCode;
            myPlayer.src({src: rtmpurl, type: "rtmp/flv"});
            this.play();
        });

    }


    function flashChecker() {
        var hasFlash = 0; //是否安装了flash
        var flashVersion = 0; //flash版本
        var isIE = /*@cc_on!@*/0; //是否IE浏览器
        if (isIE) {
            var swf = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
            if (swf) {
                hasFlash = 1;
                VSwf = swf.GetVariable("$version");
                flashVersion = parseInt(VSwf.split(" ")[1].split(",")[0]);
            }
        } else {
            if (navigator.plugins && navigator.plugins.length > 0) {
                var swf = navigator.plugins["Shockwave Flash"];
                if (swf) {
                    hasFlash = 1;
                    var words = swf.description.split(" ");
                    for (var i = 0; i < words.length; ++i) {
                        if (isNaN(parseInt(words[i]))) continue;
                        flashVersion = parseInt(words[i]);
                    }
                }
            }
        }
        return {f: hasFlash, v: flashVersion};
    }

    var fls = flashChecker();
    if (fls.f) {
        //安装了flash,当前flash版本为
        document.getElementsByClassName("openFlash")[0].style.display = "none";
        document.getElementsByClassName("openFlashTips")[0].style.display = "none";
    }
    else {
        //没有安装flash
        document.getElementsByClassName("openFlash")[0].style.display = "block";
        document.getElementsByClassName("openFlashTips")[0].style.display = "block";
    }
</script>

<script>
    videojs.options.flash.swf = '../../plugins/video-js-5.20.1/video-js.swf'; // flash路径
</script>

</body>

</html>