@model ConstructionManager.Model.DeviceInfo
@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<form class="form-horizontal" method="post">
    <div class="form-group">
        @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @(Model.Type==0?"升降机":"塔吊")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SerialNo, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @Html.DisplayFor(model => model.SerialNo)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Models, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @Html.DisplayFor(model => model.Models)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProdName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @Html.DisplayFor(model => model.ProdName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ManuDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @Html.DisplayFor(model => model.ManuDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mark, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @Html.DisplayFor(model => model.Mark)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.State, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4 form-control-static">
            @(Model.State==0?"禁用":"启用")
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            @Html.CancelButton()
        </div>
    </div>

</form>