<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layoutlist :: htmlhead" th:with="title='视频播放'">

</head>

<body>
    <div class="widget" style="width: 400px; margin: 0px 10px 10px 10px; float: left;">
        <link href="/css/video.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap/css/hik-bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap/css/hik-bootstrap.css" rel="stylesheet" type="text/css">

        <div class="widget-head"></div>
        <div class="widget-content" style="height: 310px;">
            <!--监控区域-->
            <div id="monitorArea">
                <div id="playwindow" style="text-align: center; background-color: #000; width: 100%;">
                    <object classid="clsid:942D7F59-8377-4D21-BD39-AF446986AF5F" id="ppvs" width="100%" height="100%" name="ppvs"></object>
                </div>
                <div id="control" style="width: 100%;">
                    <span id="btnPlay" class="play" onclick="StartVideo(this);"></span>
                    <span id="btnStopPlay" class="stopPlay" onclick="StopVideo(this);"></span>
                    <span id="btnCapture" class="capture" onclick="Snapshot(this)"></span>
                    <span id="btnRecord" class="record" onclick="RecordHandle(this);"></span>
                    <span id="btnTalk" class="talk" onclick="TalkHandle(this);"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:include="layoutlist::footer"></div>
    <script src="/static/appjs/common/getdata.js"></script>
    <script src="/static/appjs/video/play.js"></script>
    <script src="/static/scripts/monitor.hikmonitor.js"></script>
    <script src="/static/scripts/monitor.device.js"></script>
</body>
</html>