<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layoutlist :: htmlhead" th:with="title='视频播放'">

</head>

<body>
    <div class="widget" style="width: 400px; margin: 0px 10px 10px 10px; float: left;">
        <link href="/css/video.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap/css/hik-bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap/css/hik-bootstrap.css" rel="stylesheet" type="text/css">

        <div class="widget-head"></div>
        <div class="widget-content" style="height: 310px;">
            <!--监控区域-->
            <div id="monitorArea">

                <span id = "regsvrip" th:utext="${channel}"></span>
             <!--   <span id = "regsvrport" th:utext="${channel.registerinfo.wanport}"></span>
                <span id = "strsvrip" th:utext="${channel.streaminfo.wanip}"></span>
                <span id= "strsvrport" th:utext="${channel.streaminfo.wanport}"></span>
                <span id= "channelcode" th:utext="${channel.channelcode}"></span>
-->
                <div id="playwindow" style="text-align: center; background-color: #000; width: 100%;">
                    <object classid="clsid:942D7F59-8377-4D21-BD39-AF446986AF5F" id="ppvs" width="100%" height="100%" name="ppvs"></object>
                </div>
                <div id="control" style="width: 100%;">
                    <span id="btnPlay" class="play" onclick="StartVideo(this);"></span>
                    <span id="btnStopPlay" class="stopPlay" onclick="StopVideo(this);"></span>
                    <span id="btnCapture" class="capture" onclick="Snapshot(this)"></span>
                    <span id="btnRecord" class="record" onclick="RecordHandle(this);"></span>
                    <span id="btnTalk" class="talk" onclick="TalkHandle(this);"></span>
                </div>
            </div>
        </div>
    </div>

    <div th:include="layoutlist::footer"></div>
    <script src="/static/appjs/common/getdata.js"></script>
  <script>

      var regSvrIp = "";              //注册服务器
      var regSvrPort = "";
      var streamSvrIp = "";           //流媒体服务器
      var streamSvrPort = "";
      var iStreamCodeType = 1;        //0: 主码流 1: 子码流

      var iStreamTransferMode = 1;    //流媒体取流类型(0: UDP 1:TCP)
      var iServerRoute = 1;             //注册时配置的线路

      function StartVideo() {
          var ocx = document.getElementById("ppvs");

          var channel  =   '<%=request.getAttribute("channel")%>';

          var elevCode = '${channel.channelcode}' ;
          regSvrIp = '${channel.registerinfo.wanip}';
          regSvrPort = '${channel.registerinfo.wanport}';
          streamSvrIp = '${channel.streaminfo.wanip}';
          streamSvrPort = '${channel.streaminfo.wanport}';

          //ocx.StartVideo(streamSvrIp, streamSvrPort, regSvrIp, regSvrPort, elevCode, iServerRoute, iStreamCodeType, 0);
          ocx.playvideo(regSvrIp, regSvrPort,streamSvrIp, streamSvrPort,  elevCode, iServerRoute, iStreamCodeType, 0);

      }
  </script>

</body>
</html>